<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ToDo List{% endblock %}</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav>
    <div class="w3-bar w3-light-grey">
      <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-mobile">Home</a>
      <a href="{% url 'todo_list' %}" class="w3-bar-item w3-button w3-mobile">Todo</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile">Link 3</a>
      <div class="w3-dropdown-hover w3-mobile w3-right">
        <button class="w3-button"><i class="fa fa-user-circle w3-large"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-right" style="right:0">
          {% if user.is_authenticated %}
          <span class="w3-bar-item">Hi, {{ user.username }}!</span>
          <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Logout</a>
          {% else %}
          <span class="w3-bar-item w3-text-gray w3-small">You are not logged in.</span>
          <a href="{% url 'login' %}" class="w3-bar-item w3-button">Login</a>
          <a href="{% url 'signup' %}" class="w3-bar-item w3-button">Signup</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="w3-container">
      {% if messages %}
      <div class="w3-panel w3-teal">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="w3-container">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>

</html>